*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
  text-decoration: none;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  height: 100%;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: radial-gradient(at 24.182683184% 87.8414553882%, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 53.3173313156% 51.0559812762%, hsl(180, 32%, 70.5882352941%) 0%, hsla(180, 32%, 70.5882352941%, 0) 100%), radial-gradient(at 45.1397097868% 80.2799892173%, hsl(168, 17.8571428571%, 43.9215686275%) 0%, hsla(168, 17.8571428571%, 43.9215686275%, 0) 100%), radial-gradient(at 67.2432457735% 85.6820335559%, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 29.2082987892% 64.94509437%, hsl(180, 32%, 70.5882352941%) 0%, hsla(180, 32%, 70.5882352941%, 0) 100%), radial-gradient(at 90.8048422853% 45.2270228185%, hsl(168, 17.8571428571%, 43.9215686275%) 0%, hsla(168, 17.8571428571%, 43.9215686275%, 0) 100%), radial-gradient(at 32.8825004487% 88.0638089612%, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 55.3484213769% 78.878596608%, hsl(180, 32%, 70.5882352941%) 0%, hsla(180, 32%, 70.5882352941%, 0) 100%), radial-gradient(at 24.24620424% 70.9532019119%, hsl(168, 17.8571428571%, 43.9215686275%) 0%, hsla(168, 17.8571428571%, 43.9215686275%, 0) 100%), radial-gradient(at 70.8476429374% 63.1428671226%, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 100%);
  background-size: cover;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

h1 {
  color: #0e3742;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0.7em;
  position: relative;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.2666666667));
  outline: none;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #356e7e;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
h2 {
  text-align: center;
}

h3 {
  color: antiquewhite;
  font-size: 2rem;
  text-transform: uppercase;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 250px;
  cursor: pointer;
}
.header__list {
  display: flex;
  gap: 10px;
  font-size: 2rem;
  transition: ease-in-out 0.2s;
}
.header__list.open {
  right: 0;
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    z-index: 10;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    height: 100vh;
    background-color: #262626;
    text-align: center;
  }
}

.main {
  margin: 0 auto;
  flex-grow: 1;
  font-size: 3rem;
}

.footer {
  background-color: #262626;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.footer__bottom {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.header__link {
  color: antiquewhite;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #161616;
  position: relative;
  z-index: 0;
}
.header__link:active {
  font-weight: bold;
  color: #161616;
  background: transparent;
}
.header__link::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.header__link::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00cb, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.burger__menu::after, .burger__menu::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: aliceblue;
  transition: all 0.3s ease 0s;
}

.burger__menu {
  display: none;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  z-index: 10;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .burger__menu {
    display: flex;
  }
}
.burger__menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger__menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.burger__menu.active .burger__item {
  transform: scale(0);
}
.burger__menu::before {
  top: 0;
}
.burger__menu::after {
  bottom: 0;
}
.burger__menu .burger__item {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: aliceblue;
}

.slider__prev, .slider__next {
  color: red;
  position: absolute;
  top: 50%;
  padding: 20px;
  cursor: pointer;
}

.slider {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}
.slider__container {
  display: flex;
  align-items: center;
  transition: all 0.5s;
  background-color: black;
}
.slider__img {
  border-radius: 10px;
}
.slider__next {
  right: 2%;
}
.slider__prev {
  left: 1%;
}
.slider__wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dot {
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer;
}
.slider__dot:hover {
  background-color: aqua;
}
.slider__dot.active-dot {
  background-color: rgb(230, 247, 4);
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.presentation__box {
  width: 200px;
  height: 300px;
  z-index: 9;
  margin-top: -60px;
  background-color: #797979;
  border: 1px solid #262626;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 4px 4px 32px 1px rgba(34, 60, 80, 0.5);
  cursor: pointer;
}

.presentation:hover .presentation__box:not(:hover) {
  filter: grayscale(1) blur(30px);
}

.equipment__card-description, .equipment__card-class, .equipment__card-title {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.equipment__card-description:hover, .equipment__card-class:hover, .equipment__card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.equipment__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
  row-gap: 80px;
  padding: 100px 0;
}
.equipment__parent {
  height: 400px;
  width: 300px;
  flex-grow: 1;
  display: flex;
  place-self: center;
  perspective: 1000px;
}
.equipment__card {
  border-radius: 10px;
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url(./../img/main_img/equipment/background-card.jpg);
  background-position: center;
  transition: all 0.5s ease-in-out;
}
.equipment__card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}
.equipment__card-title {
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.equipment__card-class {
  color: rgb(219, 219, 219);
  font-weight: 400;
}
.equipment__card-description {
  color: rgb(185, 185, 185);
  font-size: 1.5rem;
  font-weight: 400;
}
.equipment .card__wash {
  background-image: url(./../img/main_img/equipment/background-red.jpg);
}
.equipment .card__wash:hover {
  transform: rotate3d(0.5, -1, 0, 30deg);
}
.equipment .card__small-par {
  background-image: url(./../img/main_img/equipment/background-grass.jpg);
}
.equipment .card__medium-par {
  background-image: url(./../img/main_img/equipment/background-heaven.jpg);
}
.equipment .card__medium-par:hover {
  transform: rotate3d(0.5, -1, 0, 30deg);
}
.equipment__content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(248, 101, 3, 0.986) 0px 20px 50px -15px;
  transition: all 0.5s ease-in-out;
  padding: 10px 5px;
  transform-style: preserve-3d;
}
.equipment .content__wash {
  box-shadow: rgba(243, 5, 5, 0.9) 0px 20px 50px -15px;
}
.equipment .content__small-par {
  box-shadow: rgba(96, 245, 10, 0.9) 0px 20px 50px -15px;
}
.equipment .content__medium-par {
  box-shadow: rgba(3, 60, 248, 0.9) 0px 20px 50px -15px;
}/*# sourceMappingURL=style.css.map */