body {
    background: linear-gradient(90deg, #262626, #dd5f0b, #272727);
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}